*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: skyblue;
  border: solid 10px skyblue;
}
